.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    /* 4 columns */
    grid-auto-rows: 180px;
    margin-right: 0px;
}

/* COLORS */
.box1 {
    background: #e91e63;
}

.box2 {
    background: #ff9800;
}

.box3 {
    background: #9c27b0;
}

.box4 {
    background: #607d8b;
}

.box5 {
    background: #616161;
}

.box6 {
    background: #4caf50;
}

.box7 {
    background: #2196f3;
}

.box8 {
    background: #bd23c5;
}

.box {
    color: #fff;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;

}

/* ----------------------------
   DESKTOP GRID POSITIONS
-----------------------------*/
.box1 {
    grid-column: span 6;   /* double width */
    grid-row: span 2;      /* double height */
}

.box2 {
    grid-column: span 6;
    grid-row: span 1;
}

.box3,
.box4 {
    grid-column: span 3;

}

.box5,
.box8 {
    grid-column: span 3;

}

.box6 {
    grid-row: span 2;
    grid-column: span 3;
}

.box7 {
    grid-column: span 6;
    grid-row: span 2;
}


@media (max-width: 600px) {
    .grid {
        grid-template-columns: 1fr;
        /* 1 column */
    }

    .box {
        grid-column: span 1 ;
        grid-row: span 1 ;
        height: 120px;
        
    }
}