* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #2b2b36;
    padding: 35px;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;

}

.box {
    padding: 60px;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.box.sidebar {
    text-align: center;
    padding-top: 200px;
}

.box.content1,
.box.content2,
.box.content3 {
    padding: 80px;
    color: #fff;
    text-align: center;
        
    font-size: 22px;
    font-weight: bold;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.content2,
.content3 {
    flex: 2;
    /* margin-right: 120px; */
    /* width: 500px; */
    height: 220px;
    background: linear-gradient(#7d59f1, #27c0f8);
    border: 10px solid #161717;
}


.content1 {
    height: 200px;
    background: linear-gradient(160deg, #7d59f1, #27c0f8);
    border: 10px solid #161717;
}

.header,
.footer {
    background: linear-gradient(90deg, #ee2277, #6b8cff);
    border: 10px solid #000;
}

.sidebar {
    background: linear-gradient(160deg, #4df3c4, #0aa6c6);
    height: 500px;
    text-align: center;
    padding: 170px;
    border: 10px solid #161717;
    background: linear-gradient(160deg, #4df3c4, #0aa6c6);
}

.content-area {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

[class^="col-"] {
    box-sizing: border-box;
    padding: 10px;
}

/* 12-column percentage widths */
.col-1 {
    width: 8.333333%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

[class^="col-"] {
    box-sizing: border-box;
    padding: 20px;
}

/* 12-column percentage widths */
.col-1 {
    width: 8.333333%;
}

.col-2 {
    width: 16.666667%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.333333%;
}

.col-5 {
    width: 41.666667%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.333333%;
}

.col-8 {
    width: 66.666667%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.333333%;
}

.col-11 {
    width: 91.666667%;
}

.col-12 {
    width: 100%;
}

/* Responsive: stack columns on small screens */
@media (max-width: 768px) {
    [class^="col-"] {
        width: 100%;
    }
}

/* ------------ LAYOUT STYLING ------------ */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    margin: auto;
}

.box {
    background: #ddd;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* Header & Footer */
.header,
.footer {
    background: #bbb;
    text-align: center;
    font-size: 20px;
    padding: 30px;
    font-weight: bold;
    background: linear-gradient(90deg, #ee2277, #6b8cff);
}

/* Sidebar */
.sidebar {
    background: #ccc;
    min-height: 300px;
    background: linear-gradient(160deg, #4df3c4, #0aa6c6);
}

/* Content boxes */
.content1,
.content2,
.content3 {
    background: #e3e3e3;
    background: linear-gradient(#7d59f1, #27c0f8);

}

/* Main area spacing */
.main {
    margin-bottom: 10px;
}